/* --------- PAGE BASE */

html {
  font-size: 62.5%;
}

body {
  font-family: "Georgia", serif;
  font-size: 2.2rem;
  line-height: 3.7rem;
}


/* --------- TEXT STYLES */


h2, /* subhead */
h3, /* byline */
h4, /* timeline header */
h5 { /* teaser header */
  font-family: "Benton Sans", sans-serif;
}

.tick text { /* timeline axis year label */
  letter-spacing: .3em;
  font-size: 1.25em;
}

/* title */
.red-bar h1,
.dark-blue-bar h1,
.light-blue-bar h1 {
  padding: 0 0 0 10%;
  color: #EEEEEE;
}

h2.subhead { /* subhead */
  font-family: "BentonSansComp-Bold","Helvetica",sans-serif;
  font-size: 8.0rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 8.0rem;
}

@media (max-width: 400px) {
  h2.subhead {
    font-size: 4rem;
  }
}

h3.byline { /* byline */
  font-family: "Benton Sans", sans-serif;
  font-size: 1.7rem;
  /*font-weight: bold;*/
  color: grey;
  /*margin-bottom: 6rem;*/
}

h4.crosshead {
  font-family: "Benton Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5.0rem;
}

h4.timeline-title { /* timeline header */
  font-family: "Sentinel", serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #7C7C7C;
  padding: 3rem 1rem 0 1rem;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h4.grid-title { /* timeline header */
  font-family: "Sentinel", serif;
  font-size: 3.0rem;
  font-weight: bold;
  color: #7C7C7C;
  margin-bottom: 1.5rem;
  margin-top: 3.0rem;
  /*-webkit-margin-before: 0;
  -webkit-margin-after: 0;*/
}

h5.teaser-header { /* story teaser header */
  font-size: 2rem;
  font-weight: bold;
  padding: 0 20px 0 40px;
}

h5.teaser-info { /* story teaser text snippet */
  font-size: 1.5rem;
  font-family: "Georgia", serif;
  font-style: italic;
  /*padding-right: 25%;*/
}

h5.teaser-more { /* story teaser "More on The Margins" text */
  font-size: 1.4rem;
}

p.timeline-explainer { /* timeline text body */
  font-family: "Georgia", serif;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

p.card-explainer { /* timeline text body */
  font-family: "Benton Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2.1rem;
  /*padding: 1rem 1rem 0 1rem;*/
  margin-bottom: 0;
  margin-top: .8rem;
  /*-webkit-margin-before: 0;
  -webkit-margin-after: 0;*/
}

p.grid-explainer { /* grid text body */
  font-family: "Benton Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

span.blue { /* color coding for timeline */
  color: #044389;
  font-weight: bold;
}

span.red { /* color coding for timeline */
  color: #ED1C24;
  font-weight: bold;
}

.tooltip p { /* timeline tooltip text body */
  font-family: "Benton Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.8rem;
  margin: 0;
  color: #EEEEEE;
}

a { /* link */
  color: #ED1C24;
  text-decoration: none;
  font-weight: bold;
}

a:hover { /* active link */
  color: #ED1C24;
  text-decoration: underline;
}

a:visited { /* visited link */
  color: #A51319;
  text-decoration: none;
}

p.img-caption { /* caption for images */
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #8e8e8e;
}

span.img-credit { /* image credit in captions */
  font-family: "Georgia", serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #8e8e8e;
}

mark {
  background-color: #fbd1d3;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 10px;
}

mark:hover {
  background-color: #f68d91;
  font-weight: bold;
}

.mark-explainer {
  background-color: #fbd1d3;
  padding: 1.5px 8px;
  font-weight: bold;
  border-radius: 6px;
}

.mark-explainer:hover {
  background-color: #f68d91;
  font-weight: bold;
}

a.no-link { /* link */
  text-decoration: none;
  pointer-events: none;
}

a.no-link:hover { /* active link */
  text-decoration: none;
  pointer-events: none;
}

a.no-hover { /* link */
  text-decoration: none;
}

a.no-hover:hover { /* active link */
  text-decoration: none;
}

a.box-link {
  text-decoration: none;
  color: #222222;
}

a.box-link:hover {
  text-decoration: none;
  color: #222222;
}

/* --------- PAGE ELEMENTS */

img.hero-img {
  width: 100%;
}

img.img { /* images in the body are 100% of the body text (6 columns wide) */
  width: 100%;
}

div.teaser-box { /* container for teaser */
  display: flex;
  margin-bottom: 2.5rem;
}

div.bg-teaser {
  background-color: #ED1C24;
  position: relative;
  left: -40px;
  max-width: 80%;
}

img.teaser { /* images in the body are 30% of the body text */
  width: 30%;
  height: 30%;
  margin-bottom: 2.5rem;
  margin-right: 2rem;
}

@media (max-width: 400px) {
  div.teaser-box { /* container for teaser */
    display:block;
    margin-bottom: 2.5rem;
  }
  img.teaser {
    width: 80%;
    margin-bottom: 0rem;
    margin-right: 0rem;
  }

  div.bg-teaser {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  h5.teaser-more,
  h5.teaser-header {
    margin-bottom: 1rem;
  }
}

.hero-img-container { /* container for opening image */
  margin-bottom: 6rem;
  height: 100%;
  width: 100%;
}

.timeline { /* container for timeline */
  background-color: #F1F1F1;
  margin-top: 750px;
}

@media (max-width: 400px) {
  .timeline {
    display: none;
  }
}

.tooltip { /* container for timeline tooltip  */
  position: absolute;
  width: 40%;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 3px;
}

.close { /* container for timeline tooltip  */
  width: 25px;
  height: 25px;
  display:block;
  float:right;
  color: white;
  position: absolute;
  right: -5px;
  top: 5px;
  font: .5rem;
  font-weight: 100;
  font-family: "BentonSansComp-Bold","Helvetica",sans-serif;
}

.close:after {
  content: "x";
}

.red-bar {
  position: absolute;
  top: 550px;
  background-color: #ED1C24;
}

.dark-blue-bar {
  position: absolute;
  top: 620px;
  background-color: #044389;
}

.light-blue-bar {
  position: absolute;
  top: 690px;
  background-color: #4F7BAC;
}

#line {
  /*border: 1pt solid black;*/
  width: 800px;
  height: 600px;
  z-index: 10;
}

#brendaCard {
  /*border: 1pt solid black;*/
  position: absolute;
  height: 250px;
  width: 200px;
  float: left;
  transform-style: preserve-3d;
  perspective: 400px;
}

.card-container {
  position:absolute;
}

.card-animation {
  border-radius: 5px;
  background-size: 100%;
  perspective: 400px;
  transform-style: preserve-3d;
  height: 280px;
  width: 250px;
}

.front-animation {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 0.5s ease-out;
  z-index: 1;
}

.back-animation {
  border: 1pt black solid;
  background-color: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(-180deg);
  transition: all 0.5s ease-out;
  z-index: 0;
}

.back-animation .quote {
  font-family: "Benton Sans", Verdana, sans-serif;
  margin: 5%;
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: normal;
}

.back-animation .name {
  margin: 5%;
  font-family: "Sentinel", serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

.sidebar {
  margin-top: 2.0rem
}

/* --------- ANIMATIONS */

@-webkit-keyframes greenPulse {
  from { fill: #ED1C24; stroke: #ED1C24; }
  50% { fill: #f68d91; stroke: #f68d91; stroke-width: .5px; }
  to { fill: #ED1C24; stroke: #ED1C24; }
}

rect.box.glow-2 {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 15;
}

.testing-circle {
  border-radius: 50%;
  border: 1px solid black;
  padding: 14.5%
}
